/*@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:700);
@import url(http://fonts.googleapis.com/css?family=Questrial);*/


body{
	padding: 0px;
	margin: 0px;
	-webkit-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-moz-user-select:none;
	font-family: 'Questrial',sans-serif;
	font-size:12px;
}
#interface {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    width: 100%;
    height: 100%;
    position: fixed;
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
}
.head {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
.menu {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 300px;
    -ms-flex: 0 0 300px;
    flex: 0 0 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    height: 100%;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    pointer-events: inherit;
}
.menuhead {
    margin: 6px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 38px;
    -ms-flex: 0 0 38px;
    flex: 0 0 38px;
    pointer-events: initial;
    -webkit-align-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.menubody {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    /* height: auto; */
}
button {
	border-radius: 5px;
	background: white;
	/* fill: #FFFFFF; */
	border:none;
	cursor: pointer;
	-webkit-transition:500ms;
	transition:500ms;
	outline: none;
	
}
#pickFile{
	border-radius:0px 0px 5px 5px;
	background:rgba(255, 255, 255, 0.39);
	border:none;
	-webkit-transition: 500ms;
	transition: 500ms;
	box-shadow: initial;
	-webkit-appearance:none;
}
#pickFile:hover{
	background:white;
}
.tab.pressed{
	border-radius: 50px;
    background:white;
	fill:black;
	-webkit-transform:scale(1.15);
	-ms-transform:scale(1.15);
	transform:scale(1.15);
}
.tab.pressed>svg{
	
}
.tab:hover{
	background:white;
	fill:black
}
.tab:focus{
	background:white;
	fill:black
}
.tab:hover>svg{
	-webkit-transform:scale(1.125);
	-ms-transform:scale(1.125);
	transform:scale(1.125);
}
.tab:focus>svg{
	-webkit-transform:scale(1.125);
	-ms-transform:scale(1.125);
	transform:scale(1.125);
}
button.tab{
	fill:black;
	-webkit-box-flex: 1;
	-webkit-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	/* min-width: 36px; */
	height: 38px;
	margin: 0px 5px;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	z-index: 2;
	padding: 0px;
	background: rgba(255, 255, 255, 0.5);
}
svg.button{
	width: 22px;
	height: 22px;
	padding: 7px;
	fill: inherit;
	/* border-radius: 66px; */
}

p,a{
	font-family: 'Questrial', sans-serif;
	font-size: 13px;
	/* font-weight: bolder; */
}
span{
	
	-webkit-user-select:initial;
	
	-moz-user-select:initial;
	
	-ms-user-select:initial;
	
	user-select:initial;
	
}
span.gallery{
	color:white;
}
#canvas2d{
	z-index: -1;
	pointer-events: initial;
	/* touch-action: initial; */
}
#canvas3d{
	z-index: -30;
	/* pointer-events:none; */
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
}
#canvas2d,#canvasddd{
	position:fixed;
	top:0;
	left:0;
	/* background: transparent; */
	/* background: radial-gradient(ellipse, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.44) 100%); */
	z-index: -1;
	cursor: pointer;
	width: 100%;
	height: 100%;
}
.uiBG{
	background: rgba(126, 126, 126, 0.5);
	color: #FFF;
	fill: white;
	stroke: white;
}
input,.inputContainer{
	border-radius: 5px;
	z-index: 5;
	cursor: pointer;
}

#LSInput,.inputContainer,span.help{
	font-family: 'Source Code Pro',Consolas,monospace;
	font-weight:bold;
	
	/* font-size: 13px; */
	/* font-weight: bold; */
	/* transition:500ms; */
}
#LSInput:focus,.inputContainer:focus{
	background:white;
}
.inputContainer:focus .textinput-caret{
	visibility:visible;
	-webkit-animation: blinking .3s linear 0s infinite alternate;
	animation: blinking .3s linear 0s infinite alternate;
	
}
.inputContainer>span{
	letter-spacing: 2px;
	
}
#LSInput{
	padding: 3px 20px 0px 20px;
	margin: 6px;
	height:32px;
}
.textinput-caret{
	display:inline;
	visibility:hidden;
	outline:1.5px solid black;
}
@-webkit-keyframes blinking {
	from {opacity:0} to {opacity:1}
}
@keyframes blinking {
	from {opacity:0} to {opacity:1}
}
span[data-value="S"]{
	color:black;
}
span[data-value="="]{
	color:green;
}
span[data-value="i"],
span[data-value="I"],
span[data-value="f"],
span[data-value="F"],
span[data-value="l"],
span[data-value="L"]{
	color:black;
}
span[data-value="o"],
span[data-value="O"]{
	color:black;
}
span[data-value="["],
span[data-value="]"]{
	color:blue;
}
span[data-value=">"],
span[data-value="<"]{
	color:black;
}
span[data-value="+"],
span[data-value="-"]{
	color:black;
}
.ui-keyboard-preview{
	pointer-events: initial;
	height: 36px;
	font-size: 22px;
	margin:0;
	padding:0;
	border: none;
}
.ui-keyboard-preview-wrapper{
	background: rgba(255, 255, 255, 0.5);
	border-radius:5px;
	background: #FFF;
	padding: 0px 20px 2px;
	margin: 0px 6px 4px;
	height:36px
}
#LSIter{
	padding: 0px 0px 2px 10px;
	margin: 0px 5px;
}
#LSInput,.inputContainer{
	pointer-events: initial;
	height: 36px;
	font-size: 22px;
	border: none;
	cursor: text;
	background: rgba(255, 255, 255, 0.5);
	/* flex: 1 1 auto; */
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
}

.row{
	/* display: flex; */
	/* flex: 1 1 auto; */
	/* flex: 0 0 2px; */
	/* flex-flow: row nowrap; */
	/* align-content: stretch; */
	/* justify-content: space-between; */
	/* pointer-events: initial; */
}
.row.tab{
	pointer-events: auto;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.5));
	background: linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.5));
	color: #000;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-right: 6px;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	/* align-self: stretch; */
	/* overflow-y: auto; */
	/* margin: 5px 0 0 0; */
	/* max-height: 100px; */
	/* margin-left: auto; */
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
	padding: 8px 8px;
	/* position: fixed; */
	/* visibility: hidden; */
	display: none;
	/* z-index: 1; */
	border-radius: 10px;
	-webkit-transition: 500ms;
	transition: 500ms;
}
.ui.group{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	/* justify-content: space-between; */
	padding: 1px 0px 1px;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 auto;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	/* height: 24px; */
	/* background: rgba(255, 255, 255, 0.5); */
}
.ui.container{
	/* padding: 8px 8px 0px; */
	padding: 0px;
	margin: 0;
	z-index: -1;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row;
	-ms-flex-flow: row;
	flex-flow: row;
	/* align-items: stretch; */
}
::-moz-selection{

}
::selection{

}

div.ui.group>input{
	margin-left:auto;
}
div.ui.group>input[type="text"]{
	padding:0px 6px;
	border:none;
	/* color: black; */
	background: rgba(255, 255, 255, 0.5);
	
	/* width: 160px; */
	cursor: text;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	/* overflow: overlay; */
	font-family:monospace;
	width: 2;
}


canvas,div{
	-webkit-highlight: none;
	-webkit-tap-highlight-color: transparent;
}
span.gallery {
    position: absolute;
    bottom: 12px;
    left: 8px;
    font-size: 12px;
    -webkit-transition: 250ms;
    transition: 250ms;
}
.canv.overlay{
	/* background: radial-gradient(ellipse, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.44) 100%); */
	box-shadow: none;
	border-radius: 0px;
	background: none;
	pointer-events: all;
	-ms-touch-action: initial;
	touch-action: initial;
	z-index: 10;
	position: fixed;
	cursor: move;
	display: none;
}
.overlay {
    position: absolute;
    width: 100%;
    cursor: wait;
    pointer-events: none;
	
    -ms-touch-action: none;
	
    touch-action: none;
    -webkit-transition:500ms background;
    transition:500ms background;
    height: 100%;
    z-index: 0;
    /* z-index: 1; */
    /* border-radius: 13px; */
    background: -webkit-radial-gradient(ellipse, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 150%);
    background: radial-gradient(ellipse, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 150%);
    box-shadow: 0px 0px 10px black inset;
}
.gallery.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
}
img.gallery {
    border-radius: 5px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    width: 100%;
    border: none;
}

.gallery.handle {
    position: absolute;
    top: 12px;
    right: 16px;
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    
}
.gallery.item {
    position: relative;
    overflow: hidden;
    margin:6px 2px;
    color: white;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    max-height: 114px;
    border-radius: 5px;
    /* text-shadow: 0em 0em 1em rgba(255, 255, 255, 0.63); */
}
.gallery.item:hover div>img{
    width:200%;
    margin: -20% -50%;
}
img.gallery {
    -webkit-transition: 1500ms;
    transition: 1500ms;
}
.gallery.item:hover span {
	 -webkit-transform: translateX(300px);
	 -ms-transform: translateX(300px);
	 transform: translateX(300px);
}
.gallery.imgWrapper{
	cursor:pointer; 
}
.gallery.item:hover .overlay{
	background:none;
	//box-shadow:none;
	//background: radial-gradient(ellipse, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1) 250%);
}
.gallery.handle:hover{
	text-shadow: 0px 0px 4px white;
	
	border-radius:5px;
}
.canv.overlay.drag{
	background:yellowgreen;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	color:white;
	font-size:48px;
	-webkit-box-align:center;
	-webkit-align-items:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-webkit-justify-content:center;
	-ms-flex-pack:center;
	justify-content:center;
	
}
.warning {
    color: rgb(255, 0, 0);
    text-shadow: 0em 0em .5em rgba(255, 4, 4, 0.58);
    
}
.tip{
	font-weight: bolder;
	/* position: absolute; */
    
	/* top: 58px; */
    
	/* left: 30px; */
    
	margin: 0px 8px;
	font-size: 20px;
	word-break: break-all;
}
span.help {
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255, 0.47);
    padding: 4px 4px;
    overflow-y: auto;
    border-radius: 5px;
    font-size: 18px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-weight: normal;
	
    /* text-shadow: 0em 0em .7em rgba(255, 255, 255, 1); */
    margin: 8px 1px 4px;
}

.options.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
	
}
.color.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    margin: 8px 0px;
}
.renderer.container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    /* background: rgb(0, 255, 5); */
    width: 100%;
    /* height: 100%; */
    border-radius: 6px 0px 6px 0px;
}
.renderer.method {
    /* width: 50px; */
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    height: 50px;
    cursor: pointer;
    /* background: rgb(0, 102, 255); */
}
.method.hell{
	background: url("../img/hell.png");
	opacity: .5;
}
.method.none{
	background: -webkit-radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.62));
	background: radial-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.62));
}